{% extends "base.html" %}
{% block title %}Order{% endblock %}
{% block content %}
{% if stage == 'accept' %}
<form method="POST">
    <h3 align="center">Start Order</h3>
    <div class="form-group">
        <label for="restaurant">Restaurant</label>
        <input
            type="text"
            class="form-control"
            id="restaurant"
            name="restaurant"
            placeholder="Enter A Doordash Location"
        />
    </div>
    <div class="form-group">
        <label for="destination">Desination</label>
        <input
            type="text"
            class="form-control"
            id="destination"
            name="destination"
            placeholder="Enter the Destination Address"
        />
    </div>
    <div class="form-group">
        <label for="distance">Distance</label>
        <input
            type="text"
            class="form-control"
            id="distance"
            name="distance"
            placeholder="Enter the Order Distance"
        />
    </div>
    <div class="form-group">
        <label for="pay">Pay</label>
        <input
            type="number"
            class="form-control"
            id="pay"
            name="pay"
            placeholder="Enter the Pay for This Order"
        />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success" name="orderReceive" value="orderReceive">Accept Order</button>
    </form>
    {% elif stage=='pickup' %}
    <form method="post">
        <h3>Current Order</h3>
        <ul class="list-group list-group-flush" id="notes">
        {% for string in strings %}
        <li class="list-group-item">
            {{ string }}
          </li>
        {% endfor %}
        </ul>
        <button type="submit" class="btn btn-success" name="orderPickup" value="orderPickup">Pickup Order</button>
    </form>
    {% else %}
    
    <form method="post">
        <h3>Current Order</h3>
        <ul class="list-group list-group-flush" id="notes">
        {% for string in strings %}
        <li class="list-group-item">
            {{ string }}
          </li>
        {% endfor %}
        </ul>
        <button type="submit" class="btn btn-success" name="orderDeliver" value="orderDeliver">Deliver Order</button>
    </form>
    {% endif %}
{% endblock %}