{% extends "base.html" %} 
{% block title %}Dash{% endblock %} 
{% block content %}
    <form method="POST">
      <h3 align="center">Start Dashing</h3>
      <div class="form-group">
        <label for="location">Location</label>
        <input
          type="location"
          class="form-control"
          id="location"
          name="location"
          placeholder="Enter A Doordash Location"
        />
      </div>
      <div class="form-group">
        <label for="promo">Promo</label>
        <input
          type="number"
          class="form-control"
          id="number"
          name="number"
          placeholder="Enter a Dollar Amount"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" name="startDash" value="startDash">Start Dashing</button>
      </div>
    </form>
{% endblock %}